<template>
  <div id="app">

    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <div id="nav">
      <router-link to="/">Vytvoř produkt</router-link> |
      <router-link to="/products">Vaše produkty</router-link> |
      <router-link to="/howto">Jak na to?</router-link> |
      <router-link to="/payment">Statistika prodeje</router-link>
      <div class="close_button"><a href="/muj-ucet">✕</a></div>
    </div>
    <router-view />
  </div>
</template>

<style>
.close_button{
  margin-left: auto; 
  margin-right: 10px;
}
.dg-btn--ok {
  border-color: var(--primary);
  color: var(--primary);
}
.dg-btn--cancel {
  color: white;
  background-color: var(--primary);
}
#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#app p,
#app li,
#app ul {
  color: black;
}
#app .fade {
  opacity: unset;
}
#nav {
  padding: 30px;
}
.threeDUploader .vue-dropzone > .dz-preview .dz-image {
  height: auto !important;
  max-height: 150px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: var(--primary);
}
p {
  margin-bottom: 0;
}
</style>
