
{extends file='page.tpl'}
{block name='page_content'}
        <script>
        var categoryList = JSON.parse("{$categories_list|escape:'htmlall':'UTF-8'}".replace(/&quot;/g, '"'));
    </script>
    

        <div id="app"></div>
        <script src="{$chunkVendor|escape:'htmlall':'UTF-8'}"></script>
        <script src="{$pathApp|escape:'htmlall':'UTF-8'}"></script>
    

{/block}
