<template>
  <div class="imageUploader">
    <h3 class="margin-top-files">Obrázky</h3>
    <vue-dropzone
      v-on:vdropzone-removed-file="removeFile"
      v-on:vdropzone-success="addFile"
      v-on:vdropzone-error="errorHandler"
      v-on:vdropzone-sending="onsending"
      v-on:vdropzone-queue-complete="completedAll"
      ref="myEditImageDropzone"
      dictDefaultMessage="Nahraj obrázky"
      id="dropzone"
      :options="dropzoneOptions"
    ></vue-dropzone>
  </div>
</template>

<script lang="ts">
import axios from "axios";
import { Component, Emit, Vue, Prop, Watch } from "vue-property-decorator";
import vue2Dropzone from "vue2-dropzone";
import "vue2-dropzone/dist/vue2Dropzone.min.css";
import { IImage } from "../definitions";
interface Images {
  cover: IImage;
  others: IImage[];
}
@Component({ components: { vueDropzone: vue2Dropzone } })
export default class ImageEditUpload extends Vue {
  @Prop(Object) readonly images: Images | undefined;
  @Prop(String) readonly id: string | undefined;
  @Prop(String) readonly secret: string | undefined;
  ready = true;
  alreadyUploadedFiles = [] as string[];
  cover = false;
  dropzoneOptions = {
    url: window.location.origin + "/module/STLuploader/editimage",
    thumbnailWidth: 200,
    thumbnailHeight: 200,
    maxFilesize: 6,
    dictDefaultMessage: "Sem přetáhněte obrázky",
    dictInvalidFileType: "Nemůžete nahrát soubor tohoto typu",
    dictCancelUpload: "Zrušit",
    addRemoveLinks: true,
    dictRemoveFile: "Odstranit",
    maxFiles: 200,
    timeout: 90000,
    parallelUploads: 1,
    acceptedFiles: "image/jpeg, image/gif, image/png",
    accept: (file: File, done: (text?: string) => void) => {
      var files: { name: string }[] =
        /* @ts-expect-error I have to use this because this component is not compatible with typescript*/
        this.$refs.myEditImageDropzone.getAcceptedFiles();
      var names = [];
      for (var i = 0; i < files.length; i++) {
        names.push(files[i].name);
      }

      if (names.includes(file.name)) {
        this.alreadyUploadedFiles.push(file.name);
        done("Tento soubor jste již nahrál");
      } else {
        let outloop = false; // if this variable is true it will not add file name to list
        this.pictures.forEach((item) => {
          if (file.name == item.name) {
            outloop = true;
            this.alreadyUploadedFiles.push(item.name);
            done("Tento soubor jste již nahrál");
            return;
          }
        });
        done();
      }
    },
  };

  pictures = [] as {
    name: string;
    cover: boolean;
  }[];

  mounted(): void {
    var thisDropzone = this.$refs.myEditImageDropzone;

    if (!(typeof this.images === "undefined")) {
      var mockFile = {
        name: this.images.cover.name,
        size: this.images.cover.size,
        cover: true,
      };
      if (this.images.cover.id == null) {
        this.cover = true;
      } else {
        this.pictures.push({ name: this.images.cover.name, cover: true });

        /* @ts-expect-error I have to use this because this component is not compatible with typescript*/
        thisDropzone.manuallyAddFile(mockFile, this.images.cover.url);
      }
      if (this.images.others.length > 0) {
        this.images.others.forEach((value, key) => {
          var mockFile = {
            name: value.name,
            size: value.size,
            cover: false,
          };
          console.log(thisDropzone);
          this.pictures.push({ name: value.name, cover: false });
          /* @ts-expect-error I have to use this because this component is not compatible with typescript*/
          thisDropzone.manuallyAddFile(mockFile, value.url);
        });
      }
    }
    this.imagesUpdate();
  }
  completedAll() {
    this.ready = true;
    this.readyness();
  }

  onsending(file: File, xhr: XMLHttpRequest, formData: FormData) {
    this.ready = false;
    this.readyness();

    if (this.id && this.secret !== undefined) {
      formData.append("id_product", this.id);
      formData.append("cover", this.cover.toString());
      formData.append("secret", this.secret);
    }
  }

  removeFile(file: File, error: string, xhr: string): void {
    if (!this.alreadyUploadedFiles.includes(file.name)) {
      if (this.id && this.$route.params.id && this.secret) {
        const params = new URLSearchParams();
        params.append("id_product", this.id);
        params.append("name", file.name);
        params.append("secret", this.secret);
        params.append("action", "submitRemoveFile");
        /* @ts-expect-error I have to use this because this component is not compatible with typescript*/

        if (file.cover) {
          this.cover = true;
        }
        this.pictures = this.removeItem(this.pictures, file.name);

        axios
          .post(
            window.location.origin + "/module/STLuploader/editimage",
            params
          )
          .then((response) => {
            if (response.status !== 200) {
              this.errorReport(response.statusText);
            }
          });
      }
    } else {
      const index = this.alreadyUploadedFiles.indexOf(file.name);
      if (index > -1) {
        this.alreadyUploadedFiles.splice(index, 1);
      }
    }
  }
  addFile(file: File): void {
    if (this.cover) {
      this.cover = false;
    }

    let outloop = false; // if this variable is true it will not add file name to list
    this.pictures.forEach((item) => {
      if (file.name == item.name) {
        outloop = true;
      }
    });
    if (!outloop) {
      console.log(file);
      this.pictures.push({ name: file.name, cover: this.cover }); // ading name to list of pictures
      this.imagesUpdate();
    }
  }
  errorHandler(file: File, message: string, xhr: string) {
    this.errorReport(message);
  }
  @Emit()
  errorReport(errorMessage: string): string {
    return errorMessage;
  }

  @Emit()
  readyness(): boolean {
    return this.ready;
  }
  @Emit()
  imagesUpdate(): {
    name: string;
    cover: boolean;
  }[] {
    return this.pictures;
  }
  removeItem<T>(
    arr: {
      name: string;
      cover: boolean;
    }[],
    value: string
  ): Array<{
    name: string;
    cover: boolean;
  }> {
    let index = 0;
    arr.forEach((item, i) => {
      if (item.name == value) {
        index = i;
      }
    });
    if (index > -1) {
      arr.splice(index, 1);
    }
    return arr;
  }
}
</script>
<style scoped>
#dropzone {
  max-width: 100%;
  position: relative;
  cursor: pointer;
}
.margin-top-files {
  margin-top: 1em;
}
.imageUploader {
  margin: auto;
}
</style>
<style>
.vue-dropzone > .dz-preview .dz-image {
  height: auto !important;
}
.dz-error-message {
  display: none !important;
}
</style>
