<template>
  <div class="imageUploader">
    <h3 class="margin-top-files">Obrázky</h3>
    <vue-dropzone
      ref="imageUploadDropzone"
      v-on:vdropzone-removed-file="removeFile"
      v-on:vdropzone-files-added="addFile"
      v-on:vdropzone-error="errorHandler"
      :duplicateCheck="true"
      dictDefaultMessage="Nahraj obrázky"
      v-on:vdropzone-sending="onsending"
      v-on:vdropzone-queue-complete="completedAll"
      id="dropzone"
      :options="dropzoneOptions"
    ></vue-dropzone>
  </div>
</template>

<script lang="ts">
import axios from "axios";
import { Component, Emit, Vue, Model } from "vue-property-decorator";
import vue2Dropzone from "vue2-dropzone";
import "vue2-dropzone/dist/vue2Dropzone.min.css";

@Component({ components: { vueDropzone: vue2Dropzone } })
export default class ImageUpload extends Vue {
  ready = true;

  dropzoneOptions = {
    url: window.location.origin + "/module/STLuploader/uploadimage",
    thumbnailWidth: 250,
    thumbnailHeight: 200,
    maxFilesize: 6,
    maxFiles: 200,
    timeout: 90000,
    addRemoveLinks: true,
    dictDefaultMessage: "Sem přetáhněte obrázky",
    dictRemoveFile: "Odstranit",
    dictInvalidFileType: "Nemůžete nahrát soubor tohoto typu",
    dictCancelUpload: "Zrušit",
    accept: (file: File, done: (text?: string) => void) => {
      var files: { name: string }[] =
        /* @ts-expect-error I have to use this because this component is not compatible with typescript*/
        this.$refs.imageUploadDropzone.getAcceptedFiles();
      var names = [];
      for (var i = 0; i < files.length; i++) {
        names.push(files[i].name);
      }
      if (names.includes(file.name)) {
        done("Tento soubor jste již nahrál");
      } else {
        done();
      }
    },
    headers: {
      Ajax: 1,
      Action: "submit_uploadImage",
    },
    parallelUploads: 1,
    acceptedFiles: "image/jpeg, image/gif, image/png",
  };

  removeFile(file: File, error: string, xhr: string): void {
    const params = new URLSearchParams();
    params.append("fileName", file.name);
    params.append("action", "submitRemoveFile");

    axios
      .post(window.location.origin + "/module/STLuploader/uploadimage", params)
      .then((response) => {
        if (response.status !== 200) {
          this.errorReport(response.statusText);
        } else {
          /* @ts-expect-error I have to use this because this component is not compatible with typescript*/

          this.$refs.imageUploadDropzone.removeFile(file);
          this.imagesUpdate();
        }
      });
    this.imagesUpdate();
  }

  completedAll() {
    this.ready = true;
    this.readyness();
  }
  onsending(file: File, xhr: XMLHttpRequest, formData: FormData) {
    this.ready = false;
    this.readyness();
  }
  @Emit()
  readyness(): boolean {
    return this.ready;
  }
  addFile(files: File[]): void {
    this.imagesUpdate();
  }
  errorHandler(file: File, message: string, xhr: string) {
    this.errorReport(message);
    /* @ts-expect-error I have to use this because this component is not compatible with typescript*/
    this.$refs.imageUploadDropzone.removeFile(file);
  }
  @Emit()
  errorReport(errorMessage: string): string {
    return errorMessage;
  }

  @Emit()
  imagesUpdate(): string[] {
    var files: { name: string }[] =
      /* @ts-expect-error I have to use this because this component is not compatible with typescript*/
      this.$refs.imageUploadDropzone.getAcceptedFiles();
    var names = [];
    for (var i = 0; i < files.length; i++) {
      names.push(files[i].name);
    }
    return names;
  }
}
</script>
<style scoped>
.form-container {
  max-width: 1000px;
  margin: 200px auto;
  position: relative;
}
#dropzone {
  position: relative;
}
.margin-top-files {
  margin-top: 1em;
}
</style>
<style>
.vue-dropzone > .dz-preview .dz-image {
  height: auto !important;
}
.dz-error-message {
  display: none !important;
}
</style>
