<template>
  <div class="position-relative">
    <div class="overlaymessage" :class="{ disabled: show }">
      <slot></slot>
    </div>
    <div class="message" v-show="show">
      <p>{{ message }}</p>
      <b-button @click="agreed" variant="success">{{ buttontext }}</b-button>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
@Component
export default class OverlayMessage extends Vue {
  @Prop({
    default:
      "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur? Nulla est. Integer lacinia. Ut enim ad minim veniam,",
  })
  readonly message: string | undefined;
  @Prop({ default: "Souhlasím" }) readonly buttontext: string | undefined;
  show = true;
  agreed(): void {
    this.show = false;
  }
}
</script>
<style scoped>
.message {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 999;
  text-align: center;
  padding-top: 60px;
  top: 0;
}
.overlaymessage {
  position: relative;
  pointer-events: all;
}
.overlaymessage.disabled {
  opacity: 0.3;
  user-select: none;
  pointer-events: none;
}
</style>
