<template>
  <div class="threeDUploader">
    <h3 class="margin-top-files">3D soubory</h3>
    <vue-dropzone
      v-on:vdropzone-removed-file="removeFile"
      v-on:vdropzone-files-added="addFile"
      v-on:vdropzone-error="errorHandler"
      v-on:vdropzone-sending="onsending"
      v-on:vdropzone-queue-complete="completedAll"
      ref="myUploadFileDropzone"
      dictDefaultMessage="Nahraj 3D soubory"
      id="dropzone"
      :options="dropzoneOptions"
    ></vue-dropzone>
  </div>
</template>

<script lang="ts">
import axios from "axios";
import { Component, Emit, Vue } from "vue-property-decorator";
import vue2Dropzone from "vue2-dropzone";
import "vue2-dropzone/dist/vue2Dropzone.min.css";

@Component({ components: { vueDropzone: vue2Dropzone } })
export default class ThreeDUpload extends Vue {
  ready = true;

  dropzoneOptions = {
    url: window.location.origin + "/module/STLuploader/upload3d",
    thumbnailWidth: 250,
    thumbnailHeight: 77,
    maxFilesize: 150,
    timeout: 90000,
    addRemoveLinks: true,
    dictRemoveFile: "Odstranit",
    dictDefaultMessage: "Sem přetáhněte soubory",
    headers: {
      Ajax: 1,
      Action: "submit_uploadImage",
    },
    parallelUploads: 1,
    maxFiles: 200,

    acceptedFiles:
      "application/octet-stream,application/sla,model/stl,application/wavefront-obj,application/vnd.ms-package.3dmanufacturing-3dmodel+xml,application/step,application/STEP,.stl,.STL,.obj,.OBJ,.3mf,.3MF,.stp,.STP,.STEP,.step",
    dictInvalidFileType: "Nemůžete nahrát soubor tohoto typu",
    dictCancelUpload: "Zrušit",
  };

  files = [] as string[];
  duplicate(file:File){
    alert("nemůžute nahrát více stejných souborů");
  }
  removeFile(file: File, error: string, xhr: string): void {
    const params = new URLSearchParams();
    params.append("fileName", file.name);
    params.append("action", "submitRemoveFile");
    console.log(file);

    this.files = this.removeItem(this.files, file.name);

    axios
      .post(window.location.origin + "/module/STLuploader/upload3d", params)
      .then((response) => {
        if (response.status !== 200) {
          this.errorReport(response.statusText);
        }
      });
  }

  addFile(files: File[]): void {
    for (var i = 0; i < files.length; i++) {
      let file = files[i];
      let outloop = false; // if this variable is true it will not add file name to list
      this.files.forEach((item: string) => {
        if (file.name == item) {
          outloop = true;
        }
      });
      if (!outloop) {
        this.files.push(file.name); // ading name to list of pictures
        this.filesUpdate();
      }
    }
  }
  completedAll() {
    this.ready = true;
    this.readyness();
  }
  onsending(file: File, xhr: XMLHttpRequest, formData: FormData) {
    this.ready = false;
    this.readyness();
  }
  @Emit()
  readyness(): boolean {
    return this.ready;
  }
  errorHandler(file: File, message: string, xhr: string) {
    this.files = this.removeItem(this.files, file.name);
    this.errorReport(message);
  }
  @Emit()
  errorReport(errorMessage: string): string {
    return errorMessage;
  }
  @Emit()
  filesUpdate(): string[] {
    return this.files;
  }
  removeItem<T>(arr: Array<T>, value: T): Array<T> {
    const index = arr.indexOf(value);
    if (index > -1) {
      arr.splice(index, 1);
    }
    return arr;
  }
}
</script>
<style scoped>
.form-container {
  max-width: 1000px;
  margin: 200px auto;
  position: relative;
}
#dropzone {
  position: relative;
}
.margin-top-files {
  margin-top: 1em;
}
</style>
<style>
.vue-dropzone > .dz-preview .dz-image {
  height: auto !important;
}
.dz-error-message {
  display: none !important;
}
</style>
