<template>
  <div class="threeDUploader">
    <h3 class="margin-top-files">3D soubory</h3>
    <vue-dropzone
      v-on:vdropzone-removed-file="removeFile"
      v-on:vdropzone-success="addFile"
      v-on:vdropzone-error="errorHandler"
      v-on:vdropzone-sending="onsending"
      v-on:vdropzone-queue-complete="completedAll"
      ref="myEditFileDropzone"
      dictDefaultMessage="Nahraj 3D soubory"
      id="dropzone"
      :options="dropzoneOptions"
    ></vue-dropzone>
  </div>
</template>

<script lang="ts">
import axios from "axios";
import { Component, Emit, Vue, Prop } from "vue-property-decorator";
import vue2Dropzone from "vue2-dropzone";
import "vue2-dropzone/dist/vue2Dropzone.min.css";
import { IFile } from "../definitions";

@Component({ components: { vueDropzone: vue2Dropzone } })
export default class ThreeDEditUpload extends Vue {
  @Prop(Array) readonly files: IFile[] | undefined;
  @Prop(String) readonly id: string | undefined;
  @Prop(String) readonly secret: string | undefined;
  filelist: string[] = [];
  ready = true;
  alreadyUploadedFiles = [] as string[];

  dropzoneOptions = {
    url: window.location.origin + "/module/STLuploader/edit3d",
    thumbnailWidth: 200,
    thumbnailHeight: 77,
    maxFilesize: 150,
    timeout: 90000,
    addRemoveLinks: true,
    dictRemoveFile: "Odstraň soubor",
    dictDefaultMessage: "Sem přetáhněte soubory",
    parallelUploads: 1,
    maxFiles: 200,
    acceptedFiles:
      "application/octet-stream,application/sla,model/stl,application/wavefront-obj,application/vnd.ms-package.3dmanufacturing-3dmodel+xml,application/step,application/STEP,.stl,.STL,.obj,.OBJ,.3mf,.3MF,.stp,.STP,.STEP,.step",
    dictInvalidFileType: "Nemůžete nahrát soubor tohoto typu",
    dictCancelUpload: "Zrušit nahrávání",
    accept: (file: File, done: (text?: string) => void) => {
      var files: { name: string }[] =
        /* @ts-expect-error I have to use this because this component is not compatible with typescript*/
        this.$refs.myEditFileDropzone.getAcceptedFiles();
      var names = [];
      for (var i = 0; i < files.length; i++) {
        names.push(files[i].name);
      }

      if (names.includes(file.name)) {
        this.alreadyUploadedFiles.push(file.name);

        done("Tento soubor jste již nahrál");
      } else {
        let outloop = false; // if this variable is true it will not add file name to list
        this.filelist.forEach((item) => {
          this.alreadyUploadedFiles.push(item);

          if (file.name == item) {
            outloop = true;
            done("Tento soubor jste již nahrál");
            return;
          }
        });
        done();
      }
    },
  };

  mounted(): void {
    const thisDropzone = this.$refs.myEditFileDropzone;
    let cover = false;

    if (!(typeof this.files === "undefined")) {
      if (this.files.length > 0) {
        this.files.forEach((value, key) => {
          var mockFile = {
            name: value.name,
            size: value.size,
          };
          /* @ts-expect-error I have to use this because this component is not compatible with typescript*/
          thisDropzone.manuallyAddFile(mockFile, "");
        });
      }
    }
    if (this.files) {
      this.files.forEach((item: IFile) => {
        this.filelist.push(item.name);
      });
      this.filesUpdate();
    }
  }
  onsending(file: File, xhr: XMLHttpRequest, formData: FormData) {
    if (this.secret !== undefined && this.id !== undefined) {
      this.ready = false;
      this.readyness();
      formData.append("id_product", this.id);
      formData.append("secret", this.secret);
    }
  }

  removeFile(file: File, error: string, xhr: string): void {
    if (!this.alreadyUploadedFiles.includes(file.name)) {
      if (this.secret !== undefined && this.id !== undefined) {
        const params = new URLSearchParams();
        params.append("id_product", this.id);
        params.append("file_name", file.name);
        params.append("secret", this.secret);
        params.append("action", "submitRemoveFile");

        this.filelist = this.removeItem(this.filelist, file.name);

        axios
          .post(window.location.origin + "/module/STLuploader/edit3d", params)
          .then((response) => {
            if (response.status !== 200) {
              this.errorReport(response.statusText);
            }
          });
      }
    } else {
      const index = this.alreadyUploadedFiles.indexOf(file.name);
      if (index > -1) {
        this.alreadyUploadedFiles.splice(index, 1);
      }
    }
  }
  completedAll() {
    this.ready = true;
    this.readyness();
  }

  addFile(file: File): void {
    let outloop = false; // if this variable is true it will not add file name to list
    this.filelist.forEach((item: string) => {
      if (file.name == item) {
        outloop = true;
      }
    });
    if (!outloop) {
      console.log(file);
      this.filelist.push(file.name); // ading name to list of filelist
      this.filesUpdate();
    }
  }
  errorHandler(file: File, message: string, xhr: string) {
    this.errorReport(message);
  }
  @Emit()
  errorReport(errorMessage: string): string {
    return errorMessage;
  }

  @Emit()
  filesUpdate(): string[] {
    return this.filelist;
  }
  @Emit()
  readyness(): boolean {
    return this.ready;
  }
  removeItem<T>(arr: Array<T>, value: T): Array<T> {
    const index = arr.indexOf(value);
    if (index > -1) {
      arr.splice(index, 1);
    }
    return arr;
  }
}
</script>
<style scoped>
#dropzone {
  max-width: 100%;
  position: relative;
  cursor: pointer;
}
.margin-top-files {
  margin-top: 1em;
}
.threeDUploader {
  margin: auto;
}
</style>
<style>
.vue-dropzone > .dz-preview .dz-image {
  height: auto !important;
}
.dz-error-message {
  display: none !important;
}
</style>
