<template>
  <div class="home">
    <div class="error">
      <b-alert class="w-100" :show="showAlert" variant="danger" dismissible>{{
        error
      }}</b-alert>
      <b-alert
        class="w-100"
        w-100
        :show="showSuccess"
        variant="success"
        dissmissible
      >
        {{ success }}
      </b-alert>
    </div>
    <b-modal
      id="succesModal"
      rel="succesModal"
      class="btn-outline-success"
      title="Úspěch"
      hide-footer
    >
      <p>
        {{ success }}
      </p>
      <b-button
        class="mt-3"
        block
        variant="success"
        @click="$bvModal.hide('succesModal')"
        >Zavřít</b-button
      >
    </b-modal>
    <b-modal
      id="errorModal"
      rel="errorModal"
      class="btn-outline-danger"
      title="Chyba"
      hide-footer
    >
      <p>
        {{ error }}
      </p>
      <b-button
        class="mt-3"
        block
        variant="danger"
        @click="$bvModal.hide('errorModal')"
        >Zavřít</b-button
      >
    </b-modal>
    <div class="form-container">
      <div>
        <h1 class="text-center">Vytvořte produkt</h1>

        <b-input-group class="input-spacing" prepend="Název produktu">
          <template #append>
            <b-input-group-text
              ><button
                class="no-style-button"
                content="Nějaká nápověda"
                v-tippy="{ placement: 'bottom' }"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  aria-hidden="true"
                  role="img"
                  class="iconify iconify--bi"
                  width="21"
                  height="21"
                  preserveAspectRatio="xMidYMid meet"
                  viewBox="0 0 16 16"
                >
                  <g fill="currentColor">
                    <path
                      d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.496 6.033h.825c.138 0 .248-.113.266-.25c.09-.656.54-1.134 1.342-1.134c.686 0 1.314.343 1.314 1.168c0 .635-.374.927-.965 1.371c-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486c.609-.463 1.244-.977 1.244-2.056c0-1.511-1.276-2.241-2.673-2.241c-1.267 0-2.655.59-2.75 2.286a.237.237 0 0 0 .241.247zm2.325 6.443c.61 0 1.029-.394 1.029-.927c0-.552-.42-.94-1.029-.94c-.584 0-1.009.388-1.009.94c0 .533.425.927 1.01.927z"
                    ></path>
                  </g>
                </svg></button
            ></b-input-group-text>
          </template>
          <b-form-input
            v-model="form.name"
            placeholder="Napište název"
            required
          ></b-form-input>
        </b-input-group>

        <b-input-group
          class="input-spacing"
          id="input-group-4"
          prepend="Cena produktu"
        >
          <template #append>
            <b-input-group-text
              >Kč
              <button
                class="no-style-button"
                style="padding-left: 10px"
                content="Nějaká nápověda"
                v-tippy="{ placement: 'bottom' }"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  aria-hidden="true"
                  role="img"
                  class="iconify iconify--bi"
                  width="21"
                  height="21"
                  preserveAspectRatio="xMidYMid meet"
                  viewBox="0 0 16 16"
                >
                  <g fill="currentColor">
                    <path
                      d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.496 6.033h.825c.138 0 .248-.113.266-.25c.09-.656.54-1.134 1.342-1.134c.686 0 1.314.343 1.314 1.168c0 .635-.374.927-.965 1.371c-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486c.609-.463 1.244-.977 1.244-2.056c0-1.511-1.276-2.241-2.673-2.241c-1.267 0-2.655.59-2.75 2.286a.237.237 0 0 0 .241.247zm2.325 6.443c.61 0 1.029-.394 1.029-.927c0-.552-.42-.94-1.029-.94c-.584 0-1.009.388-1.009.94c0 .533.425.927 1.01.927z"
                    ></path>
                  </g>
                </svg></button
            ></b-input-group-text>
          </template>
          <b-form-input
            id="input-4"
            v-model="form.price"
            placeholder="Napište cenu"
            min="20"
            type="number"
            required
          ></b-form-input>
        </b-input-group>

        <b-input-group class="input-spacing" prepend="Krátký popis">
          <template #append>
            <b-input-group-text
              ><button
                class="no-style-button"
                content="Nějaká nápověda"
                v-tippy="{ placement: 'bottom' }"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  aria-hidden="true"
                  role="img"
                  class="iconify iconify--bi"
                  width="21"
                  height="21"
                  preserveAspectRatio="xMidYMid meet"
                  viewBox="0 0 16 16"
                >
                  <g fill="currentColor">
                    <path
                      d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.496 6.033h.825c.138 0 .248-.113.266-.25c.09-.656.54-1.134 1.342-1.134c.686 0 1.314.343 1.314 1.168c0 .635-.374.927-.965 1.371c-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486c.609-.463 1.244-.977 1.244-2.056c0-1.511-1.276-2.241-2.673-2.241c-1.267 0-2.655.59-2.75 2.286a.237.237 0 0 0 .241.247zm2.325 6.443c.61 0 1.029-.394 1.029-.927c0-.552-.42-.94-1.029-.94c-.584 0-1.009.388-1.009.94c0 .533.425.927 1.01.927z"
                    ></path>
                  </g>
                </svg></button
            ></b-input-group-text>
          </template>
          <b-form-input
            v-model="form.shortDescription"
            :state="form.shortDescription.length >= 3"
            placeholder="Krátký popis"
            required
          ></b-form-input>
        </b-input-group>
        <b-input-group class="input-spacing" prepend="Klíčová slova">
          <template #append>
            <b-input-group-text
              ><button
                class="no-style-button"
                content="Nějaká nápověda"
                v-tippy="{ placement: 'bottom' }"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  aria-hidden="true"
                  role="img"
                  class="iconify iconify--bi"
                  width="21"
                  height="21"
                  preserveAspectRatio="xMidYMid meet"
                  viewBox="0 0 16 16"
                >
                  <g fill="currentColor">
                    <path
                      d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.496 6.033h.825c.138 0 .248-.113.266-.25c.09-.656.54-1.134 1.342-1.134c.686 0 1.314.343 1.314 1.168c0 .635-.374.927-.965 1.371c-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486c.609-.463 1.244-.977 1.244-2.056c0-1.511-1.276-2.241-2.673-2.241c-1.267 0-2.655.59-2.75 2.286a.237.237 0 0 0 .241.247zm2.325 6.443c.61 0 1.029-.394 1.029-.927c0-.552-.42-.94-1.029-.94c-.584 0-1.009.388-1.009.94c0 .533.425.927 1.01.927z"
                    ></path>
                  </g>
                </svg></button
            ></b-input-group-text>
          </template>
          <input-tag
            v-model="form.keywords"
            placeholder="Klíčová slova"
            :limit="8"
            class="col"
          ></input-tag>
        </b-input-group>
        <!--<b-input-group
          v-show="options"
          class="input-spacing"
          prepend="Kategorie"
        >
          <multiselect
            v-model="value"
            tag-placeholder="Přidejte kategorii"
            placeholder="Přidejte kategorii"
            label="name"
            track-by="code"
            :options="options"
            :multiple="true"
            :allow-empty="false"
            :taggable="true"
            class="col multiselect-custom"
          >
          </multiselect>
        </b-input-group>-->
        <h3>
          Popis<button
            class="no-style-button"
            style="padding-left: 10px"
            content="Nějaká nápověda"
            v-tippy="{ placement: 'bottom' }"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              aria-hidden="true"
              role="img"
              class="iconify iconify--bi"
              width="21"
              height="21"
              preserveAspectRatio="xMidYMid meet"
              viewBox="0 0 16 16"
            >
              <g fill="currentColor">
                <path
                  d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.496 6.033h.825c.138 0 .248-.113.266-.25c.09-.656.54-1.134 1.342-1.134c.686 0 1.314.343 1.314 1.168c0 .635-.374.927-.965 1.371c-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486c.609-.463 1.244-.977 1.244-2.056c0-1.511-1.276-2.241-2.673-2.241c-1.267 0-2.655.59-2.75 2.286a.237.237 0 0 0 .241.247zm2.325 6.443c.61 0 1.029-.394 1.029-.927c0-.552-.42-.94-1.029-.94c-.584 0-1.009.388-1.009.94c0 .533.425.927 1.01.927z"
                ></path>
              </g>
            </svg>
          </button>
        </h3>

        <mc-wysiwyg
          :key="reload"
          v-model="form.description"
          :state="form.description.length >= 10"
          required
        />
        <overlay-message>
          <image-upload
            ref="imageupload"
            v-on:error-report="errorHandler"
            v-on:images-update="updatePictures"
            v-on:readyness="readyness"
          />
        </overlay-message>
        <overlay-message>
          <three-d-upload
            ref="fileupload"
            v-on:error-report="errorHandler"
            v-on:files-update="updateFiles"
            v-on:readyness="readynessFiles"
          />
        </overlay-message>

        <b-button
          :disabled="!(ready && readyFiles)"
          @click="onSubmit"
          type="submit"
          variant="danger"
          class="input-spacing"
        >
          Odeslat
        </b-button>
        <vue-element-loading
          :active="showLoading"
          spinner="spinner"
          color="#FF6700"
          :is-full-screen="true"
        />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import axios from "axios";
import InputTag from "vue-input-tag";
import { Component, Vue } from "vue-property-decorator";
import ImageUpload from "../components/ImageUpload.vue";
import ThreeDUpload from "../components/ThreeDUpload.vue";
import VueElementLoading from "vue-element-loading";
import Multiselect from "vue-multiselect";
import OverlayMessage from "../components/OverlayMessage.vue";
import { IProduct } from "../definitions";
import { McWysiwyg } from "@mycure/vue-wysiwyg";

@Component({
  components: {
    ImageUpload,
    ThreeDUpload,
    McWysiwyg,
    InputTag,
    VueElementLoading,
    Multiselect,
    OverlayMessage,
  },
})
export default class Home extends Vue {
  form = {
    name: "",
    shortDescription: "",
    description: "",
    checked: [],
    keywords: [],
    price: 20,
  };
  value: { name: string; code: string; id: string }[] = [];
  /* @ts-expect-error I have to use this because this variable is from global namespace*/
  options = window.categoryList;
  reload = 0;
  showAlert = false;
  showLoading = false;
  showSuccess = false;
  success = "";
  error = "";
  pictures = [] as string[];
  files = [] as string[];
  ready = true;
  readyFiles = true;
  readyness(ready: boolean) {
    this.ready = ready;
  }
  readynessFiles(ready: boolean) {
    this.readyFiles = ready;
  }
  errorHandler(message: string): void {
    this.error = message;
    this.showAlert = true;
    this.$bvModal.show("errorModal");
  }
  successHandler(message: string): void {
    this.success = message;
    this.showSuccess = true;
    this.$bvModal.show("succesModal");

  }
  onSubmit(): void {
    console.log("Clicked on proceed");

    if (this.files.length === 0) {
      this.errorHandler("Prosím nahrajte soubory");
      return;
    }
    if (this.pictures.length < 4) {
      this.errorHandler("Prosím nahrajte více obrázků (minimálně 4)");
      return;
    }
    /* @ts-expect-error I have to use this because this variable is from global namespace*/
    this.$dialog
      .confirm("Nějaké podsadsa sdadassadd sadsadas sdaasd", {
        okText: "Souhlasím",
        cancelText: "Nesouhlasím",
        animation: "bounce",
        color: "red",
      })
      .then(() => {
        const params = new URLSearchParams();

        params.append("files", JSON.stringify(this.files));

        params.append("pictures", JSON.stringify(this.pictures));

        params.append("name", this.form.name);
        params.append("terms", "1");
        params.append("description", this.form.description);
        params.append("shortDescription", this.form.shortDescription);

        params.append("keywords", JSON.stringify(this.form.keywords));
        var categories = [] as string[];
        this.value.forEach((category) => {
          categories.push(category.id);
        });
        params.append("action", "submitProduct");
        params.append("categories", JSON.stringify(categories));
        params.append("price", this.form.price.toString());
        this.showLoading = true;
        axios
          .post(
            window.location.origin + "/module/STLuploader/submitproduct",
            params
          )
          .then((response) => {
            console.log(response);
            this.showLoading = false;
            if (response.status === 200) {
              (
                (this.$refs.fileupload as any).$refs.myUploadFileDropzone as any
              ).removeAllFiles();
              (
                (this.$refs.imageupload as any).$refs.imageUploadDropzone as any
              ).removeAllFiles();
              this.form.name = "";
              this.form.shortDescription = "";
              this.form.description = "";
              this.form.checked = [];
              this.form.keywords = [];
              this.form.price = 20;
              this.reload += 1;
              this.successHandler(response.data);
            }
          })
          .catch((error) => {
            this.showLoading = false;
            console.log(error);
            if (error.request) {
              if (error.request.response) {
                console.log(error.request.response);
                this.errorHandler(error.request.response);
              }
            }
          });
      })
      .catch(function () {
        console.log("Clicked on cancel");
      });
  }
  updatePictures(pics: string[]): void {
    this.pictures = pics;
  }
  updateFiles(pics: string[]): void {
    this.files = pics;
  }
}
</script>
<style scoped>
.margin-top-words {
  margin-top: 1em;
}
.form-container {
  max-width: 1000px;
  margin: 50px auto;
  position: relative;
}
.error {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
.input-spacing {
  margin: 20px 0;
}
.input-spacing .input-group-text {
  min-width: 140px;
}
.input-spacing .input-group-append .input-group-text {
  min-width: auto;
}
.multiselect-custom {
  padding: 0px;
}
.no-style-button {
  border: 0;
  padding: 0;
  background-color: transparent;
}
</style>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
