<template>
  <div class="home">
    <div class="error">
      <b-alert class="w-100" :show="showAlert" variant="danger" dismissible>{{
        error
      }}</b-alert>
      <b-alert
        class="w-100"
        w-100
        :show="showSuccess"
        variant="success"
        dissmissible
      >
        {{ success }}
      </b-alert>
    </div>
    <div class="form-container">
      <div>
        <b-form-group
          id="input-group-1"
          label="Jméno produktu"
          label-for="input-1"
        >
          <b-form-input
            id="input-1"
            v-model="form.name"
            placeholder="Napište jméno"
            required
          ></b-form-input>
        </b-form-group>
        <b-form-group
          id="input-group-4"
          label="Cena produktu"
          label-for="input-4"
        >
          <b-form-input
            id="input-4"
            v-model="form.price"
            placeholder="Napište cenu"
            type="number"
            required
          ></b-form-input>
        </b-form-group>
        <b-form-group
          id="input-group-2"
          label="Krátký popis:"
          label-for="input-2"
        >
          <b-form-input
            id="input-2"
            v-model="form.shortDescription"
            :state="form.shortDescription.length >= 10"
            placeholder="Krátký popis"
            required
          ></b-form-input>
        </b-form-group>
        <h3>Popis</h3>
        <b-form-textarea
          id="textarea"
          v-model="form.description"
          :state="form.description.length >= 10"
          placeholder="Delší popis vašeho produktu včetně nastavení tisku"
          rows="6"
          max-rows="10"
          required
        ></b-form-textarea>
        <h3 class="margin-top-words">Klíčová slova</h3>
        <input-tag
          v-model="form.keywords"
          placeholder="Klíčová slova"
          :limit="8"
        ></input-tag>

        <!-- <b-form-group id="input-group-4" v-slot="{ ariaDescribedby }">
          <b-form-checkbox-group
            v-model="form.checked"
            id="checkboxes-4"
            :aria-describedby="ariaDescribedby"
          >
            <b-form-checkbox value="me">Check me out</b-form-checkbox>
            <b-form-checkbox value="that">Check that out</b-form-checkbox>
          </b-form-checkbox-group>
        </b-form-group>-->

        <image-upload
          v-on:error-report="errorHandler"
          v-on:images-update="updatePictures"
        />
        <three-d-upload
          v-on:error-report="errorHandler"
          v-on:files-update="updateFiles"
        />
        <b-button @click="onSubmit" type="submit" variant="primary">
          Submit
        </b-button>
        <vue-element-loading
          :active="showLoading"
          spinner="spinner"
          color="#FF6700"
          :is-full-screen="true"
        />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import axios from "axios";
import InputTag from "vue-input-tag";
import { Component, Vue } from "vue-property-decorator";
import ImageUpload from "../components/ImageUpload.vue";
import ThreeDUpload from "../components/ThreeDUpload.vue";
import VueElementLoading from "vue-element-loading";

@Component({
  components: { ImageUpload, ThreeDUpload, InputTag, VueElementLoading },
})
export default class Home extends Vue {
  form = {
    name: "",
    shortDescription: "",
    description: "",
    checked: [],
    keywords: [],
    price: 0,
  };
  showAlert = false;
  showLoading = false;
  showSuccess = false;
  success = "";
  error = "";
  pictures = [] as string[];
  files = [] as string[];

  errorHandler(message: string): void {
    this.error = message;
    this.showAlert = true;
  }
  successHandler(message: string): void {
    this.success = message;
    this.showSuccess = true;
  }
  onSubmit(): void {
    if (this.files.length === 0) {
      this.errorHandler("Prosím nahrajte soubory");
      return;
    }
    if (this.pictures.length === 0) {
      this.errorHandler("Prosím nahrajte obrázky");
      return;
    }
    const params = new URLSearchParams();

    params.append("files", JSON.stringify(this.files));

    params.append("pictures", JSON.stringify(this.pictures));

    params.append("name", this.form.name);
    params.append("description", this.form.description);
    params.append("shortDescription", this.form.shortDescription);

    params.append("keywords", JSON.stringify(this.form.keywords));

    params.append("action", "submitProduct");
    params.append("price", this.form.price.toString());
    this.showLoading = true;
    axios
      .post(
        window.location.origin + "/module/STLuploader/submitproduct",
        params
      )
      .then((response) => {
        this.showLoading = false;
        if (response.status === 200) {
          this.successHandler(response.statusText);
        }
      })
      .catch((reason) => {
        this.showLoading = false;
        console.log(reason.errorMessage);
        this.errorHandler(reason);
      });
  }
  updatePictures(pics: string[]): void {
    this.pictures = pics;
  }
  updateFiles(pics: string[]): void {
    this.files = pics;
  }
}
</script>
<style scoped>
.margin-top-words {
  margin-top: 1em;
}
.form-container {
  max-width: 1000px;
  margin: 50px auto;
  position: relative;
}
.error {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
</style>
