<template>
  <div class="howto">
    <h1 class="text-center">This is an How to page</h1>
    <b-row>
      <b-col>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officia
        similique a non architecto consequuntur facilis asperiores minus dolore
        consequatur laudantium! Inventore corporis magnam a, ut dignissimos
        repellat suscipit eaque fugiat.
      </b-col>
      <b-col>
        <img
          src="https://cdn.thingiverse.com/assets/3d/6e/15/68/70/featured_preview_vickorev2.png"
        />
      </b-col>
    </b-row>
  </div>
</template>
