<template>
  <div class="payment" v-show="from !== ''">
    <div v-show="loaded">
      <h1 class="text-center">Statistika prodeje</h1>
      <b-table
        class="table"
        id="payment_list"
        striped
        hover
        v-show="from !== ''"
        :items="stats.info"
        :fields="fields"
      />
      <b-row>
        <b-col>
          <h3 class="text-center mt-4">
            Nejprodávanější produkt za poslední měsíc:
            {{ stats.product_month.name }}
          </h3>
        </b-col>
      </b-row>
      <b-row>
        <b-col class="text-center">
          Výděláno:
          {{ parseFloat(stats.product_month.sales_fee).toFixed(2) }} Kč
        </b-col>
      </b-row>
      <b-row>
        <b-col class="text-center">
          Prodáno: {{ stats.product_month.sold }}
        </b-col>
        <b-col class="text-center">
          Odvedená procenta z prodeje:
          {{ (parseFloat(stats.product_month.cut) * 100).toFixed(2) }} %
        </b-col>
      </b-row>
    </div>
    <div v-show="!loaded">
      <h3 class="text-center">Načítání</h3>
    </div>
  </div>
</template>
<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

import { IStats } from "../definitions";
import { InfoApi, ServerStatsResponse } from "../dataapi";

@Component
export default class Home extends Vue {
  stats = {} as IStats;

  from = "";
  to = "";
  from_before = "";
  to_before = "";

  fields = [
    { key: "name", label: "#" },
    {
      key: "this_month",
      label: "toto platební období (" + this.from + " - " + this.to + ")",
    },
    {
      key: "last_month",
      label:
        "minulé platební období (" +
        this.from_before +
        " - " +
        this.to_before +
        ")",
    },
    { key: "total", label: "Za celou dobu existence" },
  ];
  loaded = false;
  async mounted(): Promise<void> {
    let response: ServerStatsResponse = await InfoApi.getStats();
    if (response.error) {
      console.log(response.error);
      if (response.error.request) {
        if (response.error.request.response) {
          alert(response.error.request.response);
        }
      }
    } else {
      if (response.data !== null) {
        console.log(response.data);
        this.stats = response.data;

        this.fields = [
          { key: "name", label: "#" },
          {
            key: "this_month",
            label:
              "toto platební období (" +
              this.stats.from +
              " - " +
              this.stats.to +
              ")",
          },
          {
            key: "last_month",
            label:
              "minulé platební období (" +
              this.stats.from_before +
              " - " +
              this.stats.to_before +
              ")",
          },
          { key: "total", label: "Za celou dobu existence" },
        ];
        this.from = this.stats.from;
        this.to = this.stats.to;
        this.from_before = this.stats.from_before;
        this.to_before = this.stats.to_before;
        this.loaded = true;
      }
    }
  }
}
</script>
