<template>
  <div class="product" v-show="product">
    <div class="error">
      <b-alert class="w-100" :show="showAlert" variant="danger" dismissible>{{
        error
      }}</b-alert>
      <b-alert class="w-100" :show="showSuccess" variant="success" dissmissible>
        {{ success }}
      </b-alert>
    </div>
    <b-modal
      id="succesModal"
      rel="succesModal"
      class="btn-outline-success"
      title="Úspěch"
      hide-footer
    >
      <p>
        {{ success }}
      </p>
      <b-button
        class="mt-3"
        block
        variant="success"
        @click="$bvModal.hide('succesModal')"
        >Zavřít</b-button
      >
    </b-modal>
    <b-modal
      id="errorModal"
      rel="errorModal"
      class="btn-outline-danger"
      title="Chyba"
      hide-footer
    >
      <p>
        {{ error }}
      </p>
      <b-button
        class="mt-3"
        block
        variant="danger"
        @click="$bvModal.hide('errorModal')"
        >Zavřít</b-button
      >
    </b-modal>
    <div ref="productContainer" id="product-container">
      <h1 class="text-center">Úprava produktu</h1>
      <b-row class="mt-2">
        <b-col lg>
          <h5 class="text-center">
            <span v-show="product.validated"
              >Tento produkt byl schválen a lze upravovat pouze po dohodě s
              eshopem
            </span>
            <span v-show="!product.validated">Neschváleno</span>
          </h5>
        </b-col>
        <b-col v-show="product.validated" lg class="justify-content-center">
          <h5 class="text-center">Celkové prodáno {{ product.num_sold }}x</h5>
        </b-col>
      </b-row>
      <b-row class="mt-2" v-show="product.num_sold_lastmonth">
        <b-col v-show="product.validated" lg>
          <h5 class="text-center">
            Za poslední měsíc prodáno {{ product.num_sold_lastmonth }}x
          </h5>
        </b-col>

        <b-col v-show="product.validated" lg>
          <h5 class="text-center">
            Tento produkt vám vydělal
            {{ product.sales_lastmonth.toFixed(2) }} Kč se započítaným poplatkem
            {{
              (
                product.sales_lastmonth -
                product.sales_lastmonth * product.cut
              ).toFixed(2)
            }}
            Kč
          </h5>
        </b-col>
      </b-row>
      <b-row class="mt-2">
        <b-col v-show="product.validated" lg>
          <h5 class="text-center">
            Celkové vám vydělal
            {{
              (product.sales_total - product.sales_total * product.cut).toFixed(
                2
              )
            }}
            Kč
          </h5>
        </b-col>
        <b-col lg>
          <h5 class="text-center">
            Odvedená procenta z prodeje {{ (product.cut * 100).toFixed(2) }} %
          </h5>
        </b-col>
      </b-row>
      <div v-show="product.name">
        <b-input-group class="input-spacing" prepend="Název produktu">
          <b-form-input class="m-auto" v-model="product.name" />
        </b-input-group>

        <b-input-group
          class="input-spacing"
          id="input-group-4"
          prepend="Cena produktu"
          append="Kč"
        >
          <b-form-input
            id="input-4"
            v-model="product.price"
            placeholder="Napište cenu"
            min="20"
            type="number"
            required
          ></b-form-input>
        </b-input-group>
        <b-input-group
          v-show="product.shortDescription !== undefined"
          class="input-spacing"
          prepend="Krátký popis"
        >
          <b-form-input
            v-show="product.shortDescription !== undefined"
            v-model="product.shortDescription"
            :state="product.shortDescription.length >= 3"
          ></b-form-input>
        </b-input-group>
        <b-input-group class="input-spacing" prepend="Klíčová slova">
          <input-tag
            v-model="product.keyWords"
            placeholder="Klíčová slova"
            :limit="8"
            class="col"
          />
        </b-input-group>
        <!--
        <b-input-group
          v-show="options"
          class="input-spacing"
          prepend="Kategorie"
        >
          <multiselect
            v-model="value"
            tag-placeholder="Přidejte kategorii"
            placeholder="Přidejte kategorii"
            label="name"
            track-by="code"
            class="col multiselect-custom"
            :options="options"
            :multiple="true"
            :taggable="true"
            @tag="addTag"
          >
          </multiselect>
        </b-input-group>
-->
        <b-row class="mt-4">
          <b-col>
            <h4>Popis</h4>
            <mc-wysiwyg v-model="product.description"></mc-wysiwyg>
          </b-col>
        </b-row>
        <b-row v-if="productLoaded">
          <image-edit-upload
            v-on:error-report="errorHandler"
            v-on:images-update="updateImages"
            v-on:readyness="readyness"
            :images="product.images"
            style="width: 100%"
            :id="id"
            :secret="product.filesecret"
          />
        </b-row>
        <b-row v-if="productLoaded">
          <three-d-edit-upload
            v-on:error-report="errorHandler"
            v-on:files-update="updateFiles"
            :id="id"
            :files="product.files"
            v-on:readyness="readynessFiles"
            style="width: 100%"
            :secret="product.filesecret"
          />
        </b-row>

        <b-row>
          <b-button
            :disabled="!(ready && readyFiles)"
            class="input-spacing"
            variant="danger"
            @click="submitEdit"
            >Odeslat úpravy</b-button
          >
        </b-row>
      </div>
      <vue-element-loading
        :active="showLoading"
        spinner="spinner"
        color="#FF6700"
        :is-full-screen="true"
      />
    </div>
    <b-row>
      <b-col v-if="messagesLoaded">
        <beautiful-chat
          :participants="participants"
          :titleImageUrl="titleImageUrl"
          :onMessageWasSent="onMessageWasSent"
          :messageList="messageList"
          :newMessagesCount="newMessagesCount"
          :isOpen="isChatOpen"
          :close="closeChat"
          :open="openChat"
          :showEmoji="true"
          :showFile="false"
          :showEdition="false"
          :showDeletion="false"
          :showHeader="true"
          :showTypingIndicator="showTypingIndicator"
          :showLauncher="true"
          :showCloseButton="true"
          :colors="colors"
          placeholder="Napište zprávu"
          :alwaysScrollToBottom="alwaysScrollToBottom"
          :disableUserListToggle="false"
          :messageStyling="messageStyling"
          @onType="handleOnType"
          @edit="editMessage"
        >
          <template v-slot:header>
            <h4 style="margin-bottom: 0; margin-top: 15px">Chat s obchodem</h4>
          </template>
        </beautiful-chat>
      </b-col>
    </b-row>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { IProduct, IMessage } from "../definitions";
import {
  InfoApi,
  ServerProductInfoResponse,
  ServerMessageResponse,
  ServerSendMessageResponse,
} from "../dataapi";
import router from "../router";
import InputTag from "vue-input-tag";
import { McWysiwyg } from "@mycure/vue-wysiwyg";
import ImageEditUpload from "../components/ImageEditUpload.vue";
import ThreeDEditUpload from "../components/ThreeDEditUpload.vue";
import VueElementLoading from "vue-element-loading";
import Multiselect from "vue-multiselect";

import axios from "axios";
@Component({
  components: {
    InputTag,
    McWysiwyg,
    ThreeDEditUpload,
    ImageEditUpload,
    VueElementLoading,
    Multiselect,
  },
})
export default class ProductDetail extends Vue {
  product = {} as IProduct;
  hashCode = (s: string): string =>
    s
      .split("")
      .reduce((a, b: string) => ((a << 5) - a + b.charCodeAt(0)) | 0, 0)
      .toString(); // hash function
  editorOption = {};
  showAlert = false;
  showLoading = false;
  showSuccess = false;
  messagesLoaded = false;
  success = "";
  error = "";
  productLoaded = false;
  files = [] as string[];
  tobenotified = false;
  images = [] as {
    name: string;
    cover: boolean;
  }[];
  id = "0";

  participants = [
    {
      id: "user1",
      name: "Obchod",
      imageUrl: "https://avatars3.githubusercontent.com/u/1915989?s=230&v=4",
    },
  ]; // the list of all the participant of the conversation. `name` is the user name, `id` is used to establish the author of a message, `imageUrl` is supposed to be the user avatar.
  titleImageUrl =
    "https://a.slack-edge.com/66f9/img/avatars-teams/ava_0001-34.png";
  messageList = [
    {
      author: "admin",
      type: "text",
      id: 1, // or text '1'
      data: {
        text: "S čím potřebujete pomoci?",
      },
    },
  ] as IMessage[]; // the list of the messages to show, can be paginated and adjusted dynamically
  newMessagesCount = 0;
  isChatOpen = false; // to determine whether the chat window should be open or closed
  showTypingIndicator = ""; // when set to a value matching the participant.id it shows the typing indicator for the specific user

  colors = {
    header: {
      bg: "var(--primary)!important",
      text: "#ffffff",
    },
    launcher: {
      bg: "var(--primary)!important",
    },
    messageList: {
      bg: "#ffffff",
    },
    sentMessage: {
      bg: "#f6f7f8!important",
      text: "#565867",
    },
    receivedMessage: {
      bg: "var(--primary)!important",
      text: "#565867",
    },
    userInput: {
      bg: "#f4f7f9",
      text: "#565867",
    },
  }; // specifies the color scheme for the component
  alwaysScrollToBottom = false; // when set to true always scrolls the chat to the bottom when new events are in (new message, user starts typing...)
  messageStyling = true; // enables *bold* /emph/ _underline_ and such (more info at github.com/mattezza/msgdown)
  value: {
    id: string;
    name: string;
    code: string;
  }[] = [];
  ready = true;
  readyFiles = true;
  /* @ts-expect-error I have to use this because this variable is from global namespace*/
  options = window.categoryList;
  readyness(ready: boolean) {
    this.ready = ready;
  }
  readynessFiles(ready: boolean) {
    this.readyFiles = ready;
  }
  addTag(newTag: string) {
    const tag = {
      id: this.hashCode(newTag),
      name: newTag,
      code: newTag.substring(0, 2) + Math.floor(Math.random() * 10000000),
    };
    this.options.push(tag);
    this.value.push(tag);
  }
  async sendMessage(text: string) {
    if (text.length > 0) {
      this.newMessagesCount = this.isChatOpen
        ? this.newMessagesCount
        : this.newMessagesCount + 1;

      const response: ServerSendMessageResponse = await InfoApi.sendMessage(
        this.id,
        text
      );
      if (response.error) {
        alert(response.error);
      } else {
        let messagesData: ServerMessageResponse = await InfoApi.getMessages(
          this.id
        );
        if (messagesData.error) {
          alert(messagesData.error);
        } else {
          if (messagesData.data !== null) {
            this.messageList = messagesData.data;
          }
        }
      }
    }
  }
  onMessageWasSent(message: IMessage) {
    // called when the user sends a message
    this.messageList = [...this.messageList, message];
    this.sendMessage(message.data.text);
  }
  openChat() {
    // called when the user clicks on the fab button to open the chat
    this.isChatOpen = true;
    this.newMessagesCount = 0;
  }
  closeChat() {
    // called when the user clicks on the botton to close the chat
    this.isChatOpen = false;
  }
  handleScrollToTop() {
    // called when the user scrolls message list to top
    // leverage pagination for loading another page of messages
  }
  handleOnType() {
    console.log("Emit typing event");
  }
  editMessage(message: IMessage) {
    const m = this.messageList.find((m) => m.id === message.id);
    if (m !== undefined) {
      m.isEdited = true;
      m.data.text = message.data.text;
    }
  }
  errorHandler(message: string): void {
    this.error = message;
    this.showAlert = true;
    this.$bvModal.show("errorModal");
  }
  successHandler(message: string): void {
    this.success = message;
    this.showSuccess = true;
    this.$bvModal.show("succesModal");
  }
  updateFiles(files: string[]): void {
    this.files = files;
  }
  updateImages(images: { name: string; cover: boolean }[]): void {
    this.images = images;
  }
  created(): void {
    this.id = this.$route.params.id;
  }

  async mounted(): Promise<void> {
    if (typeof this.$route.params.id === "string") {
      let response: ServerProductInfoResponse = await InfoApi.getProductInfo(
        this.$route.params.id
      );
      if (response.error) {
        router.push("/products");
      } else {
        if (response.data !== null) {
          this.productLoaded = true;
          this.product = response.data;
          var interval = setInterval(() => {
            if (this.product.owned) {
              this.newMessagesCount = this.product.notifications;
              this.isChatOpen = true;
              router.push("/products");
            }
            if (this.product.uneditable == true || this.product.owned) {
              if (this.$refs.productContainer) {
                (this.$refs.productContainer as any).style.opacity = "0.5";
                (this.$refs.productContainer as any).style.pointerEvents =
                  "none";
                clearInterval(interval);
              }
            }
          }, 200);
          this.value = response.data.categories;
        }
      }

      if (this.$route.params.id) {
        let messagesData: ServerMessageResponse = await InfoApi.getMessages(
          this.$route.params.id
        );
        console.log(messagesData);
        if (messagesData.error) {
          alert(messagesData.error);
        } else {
          if (messagesData.data !== null) {
            if (messagesData.data.length > 0) {
              this.messagesLoaded = true;
              if (
                messagesData.data.length > this.messageList.length ||
                this.tobenotified
              ) {
                this.tobenotified = false;
                this.isChatOpen = true;
                this.newMessagesCount =
                  messagesData.data.length - this.messageList.length;
              }
              this.messageList = messagesData.data;
            } else {
              this.messagesLoaded = true;
              this.tobenotified = true;
              this.messageList = [
                {
                  author: "admin",
                  type: "text",
                  id: 1, // or text '1'
                  data: {
                    text: "S čím potřebujete pomoci?",
                  },
                },
              ];
            }
          }
          setInterval(async () => {
            if (this.$route.params.id) {
              let messagesData: ServerMessageResponse =
                await InfoApi.getMessages(this.$route.params.id);
              if (messagesData.error) {
                alert(messagesData.error);
              } else {
                if (messagesData.data !== null) {
                  if (
                    messagesData.data.length > this.messageList.length ||
                    (this.tobenotified && messagesData.data.length > 0)
                  ) {
                    this.tobenotified = false;
                    this.isChatOpen = true;
                    this.newMessagesCount =
                      messagesData.data.length - this.messageList.length;
                  }
                  if (messagesData.data.length > 0) {
                    this.messagesLoaded = true;
                    this.messageList = messagesData.data;
                  } else {
                    this.tobenotified = true;
                    this.messageList = [
                      {
                        author: "admin",
                        type: "text",
                        id: 1, // or text '1'
                        data: {
                          text: "S čím potřebujete pomoci?",
                        },
                      },
                    ];
                  }
                }
              }
            }
          }, 5000);
        }
      } else {
        router.push("/");
      }
    }
  }
  public submitEdit(): void {
    if (this.files.length === 0) {
      this.errorHandler("Prosím nahrajte soubory");
      return;
    }

    const params = new URLSearchParams();

    params.append("files", JSON.stringify(this.files));
    params.append("images", JSON.stringify(this.images));
    params.append("secret", this.product.filesecret);
    params.append("name", this.product.name);
    params.append("description", this.product.description);
    params.append("shortDescription", this.product.shortDescription);
    params.append("id_product", this.id.toString());
    params.append("keywords", JSON.stringify(this.product.keyWords));
    var categories = [] as string[];
    this.value.forEach((category) => {
      categories.push(category.id);
    });
    params.append("categories", JSON.stringify(categories));
    params.append("action", "submitProduct");
    params.append("price", this.product.price.toString());
    this.showLoading = true;
    axios
      .post(window.location.origin + "/module/STLuploader/editproduct", params)
      .then((response) => {
        this.showLoading = false;
        if (response.status === 200) {
          this.successHandler(response.data);
        }
      })
      .catch((reason) => {
        this.showLoading = false;
        console.log(reason);
        if (reason.request) {
          if (reason.request.response) {
            this.errorHandler(reason.request.response);
          }
        }
      });
  }
}
</script>
<style scoped>
.product {
  max-width: 1000px;
  margin: 50px auto;
  position: relative;
}
.error {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
.input-spacing {
  margin: 20px 0;
}
.input-spacing .input-group-text {
  min-width: 140px;
}
.input-spacing .input-group-append .input-group-text {
  min-width: auto;
}
.multiselect-custom {
  padding: 0px;
}
</style>
<style>
.received .sc-message--text-content {
  color: white !important;
}
</style>
