<template>
  <div class="product" v-show="products">
    <h1 class="text-center">Seznam produktů</h1>
    <p class="text-center" v-show="!products.length">Nemáte žádné produkty</p>
    <b-table
      class="table"
      id="products_list"
      striped
      hover
      v-show="products.length"
      :items="products"
      :fields="fields"
      :current-page="currentPage"
      :per-page="perPage"
      @row-clicked="productSelected"
    >
      <template #cell(image)="data">
        <div>
          <b-img
            center
            height="32px"
            :src="data.value"
            alt="Center image"
            to="/"
          >
          </b-img>
        </div>
      </template>
      <template #cell(notifications)="data">
        <div>
          <b-badge pill variant="danger">{{ data.value }}</b-badge>
        </div>
      </template>
      <template #cell(cut)="data">
        {{ (parseFloat(data.value) * 100).toFixed(2) }} %
      </template>
      <template #cell(owned)="data">
        {{ data.value ? "odkoupeno obchodem" : "Ve vašem vlastnictví" }}
      </template>
    </b-table>
    <b-pagination
      v-model="currentPage"
      :total-rows="products.length"
      :per-page="perPage"
      aria-controls="products_list"
    ></b-pagination>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { IProducts } from "../definitions";
import { InfoApi, ServerProductsResponse } from "../dataapi";
import router from "../router";
@Component
export default class Products extends Vue {
  currentPage = 0;
  perPage = 10;

  fields = [
    { key: "ID", label: "ID" },
    { key: "image", label: "Obrázek" },
    { key: "name", label: "Název" },
    { key: "price", label: "Cena" },
    { key: "validated", label: "Schváleno" },
    { key: "notifications", label: "Notifikace" },
    { key: "num_sold", label: "Prodáno" },
    { key: "cut", label: "Poplatek" },
    { key: "owned", label: "Vlastněno" },
  ];
  products = [] as IProducts;

  async created(): Promise<void> {
    let response: ServerProductsResponse = await InfoApi.getProducts();
    if (response.error) {
      alert(response.error);
    } else {
      if (response.data !== null) this.products = response.data;
    }
  }
  productSelected(row: IProducts[0], index: number): void {
    if (!row.owned) {
      /* @ts-expect-error I have to use this because I dont know why it is not working. */
      router.push(`/productdetail/${row.ID}`);
    } else {
      alert("Tento produkt již nevlastníte a nemáte přístup k detailům");
    }
  }
}
</script>
<style scoped>
.margin-top-words {
  margin-top: 1em;
}
.product {
  max-width: 1000px;
  margin: 50px auto;
  position: relative;
}
.error {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.table {
  cursor: pointer;
}
</style>
<style>
.b-pagination .page-link {
  background-color: #ff0018;
}
</style>
